/* wofi_style.css - OS X Snow Leopard Menu Dropdown Replica */

* {
    /* Classic OS X Fonts */
    font-family: "Lucida Grande", "SF Pro Text", "Helvetica Neue", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: black;
}

#window {
    background-color: rgba(255, 255, 255, 0.98);
    
    border: 1px solid #bfbfbf;
    
    border-radius: 0px 0px 5px 5px;
    
    box-shadow: 0px 6px 12px rgba(0,0,0,0.3);
    
    margin: 0px;
}

#input {
    display: none;
}

#outer-box {
    margin: 0px;
    padding: 5px 0px; 
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 0px;
    padding: 0px;

    color: #000000; 
}

#entry {
    padding: 4px 20px; 
    margin: 0px;
    border: none;
    background-color: transparent;
}


#entry:selected {
    background-image: linear-gradient(to bottom, #5f9cfd 0%, #1c5ead 100%);
    outline: none;
}

#text:selected {
    color: #ffffff; 
    text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
}

#img {
    margin-right: 10px;
    background: transparent;
}